<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% if context_item %}Modifier Utilisateur{% else %}Nouveau Utilisateur{% endif %}</title>
    <link rel="stylesheet" href="/static/style.css"> 
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="container">
        <h2>{% if context_item %}Modifier Utilisateur{% else %}Nouveau Utilisateur{% endif %}</h2>

        <form action="{{ request.url.path }}" method="post">

            <input 
              type="text" 
              name="user_login" 
              placeholder="Login" 
              value="{{ context_item.user_login if context_item else '' }}" 
              required>
            
            <input 
              type="email" 
              name="user_mail" 
              placeholder="Email" 
              value="{{ context_item.user_mail if context_item else '' }}" 
              required>
            
            {% if not context_item %}
            <input 
              type="password" 
              name="user_password" 
              placeholder="Mot de passe" 
              required>
            {% endif %}
            
            <div>
                <label for="user_role" style="display: block; margin-bottom: 0.3rem; text-align: left;">Rôle de l'utilisateur</label>
                <select name="user_role" id="user_role" style="width:100%; padding: 0.7rem; font-size: 1rem; border: 1px solid #ccc; border-radius: 0.5rem; box-sizing: border-box;">
                    
                    <option value="user" 
                      {% if context_item and context_item.user_role == 'user' %}selected{% endif %}>
                      User
                    </option>
                    
                    <option value="admin" 
                      {% if context_item and context_item.user_role == 'admin' %}selected{% endif %}>
                      Admin
                    </option>
                </select>
            </div>
            
            <button type="submit">
              {% if context_item %}Mettre à jour{% else %}Enregistrer{% endif %}
            </button>
        </form>
        
        <p><a href="/admin/users">Annuler</a></p>
    </div>
</body>
</html>